.splitpanes {
    display: flex;
    width: 100%;
    height: 100%;
}

.splitpanes--vertical {
    flex-direction: row;
}

.splitpanes--horizontal {
    flex-direction: column;
}

.splitpanes--dragging * {
    user-select: none;
}

.splitpanes__pane {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #f3f3f3;

}

.splitpanes--vertical .splitpanes__pane {
    transition: width .2s ease-out;
}

.splitpanes--horizontal .splitpanes__pane {
    transition: height .2s ease-out;
}

.splitpanes--dragging .splitpanes__pane {
    transition: none;
}

.splitpanes__splitter {
    touch-action: none;
}

.splitpanes--vertical>.splitpanes__splitter {
    min-width: 1px;
    cursor: col-resize;
}

.splitpanes--horizontal>.splitpanes__splitter {
    min-height: 1px;
    cursor: row-resize;
}

.splitpanes .splitpanes__splitter {
    background-color: #fff;
    box-sizing: border-box;
    position: relative;
    flex-shrink: 0;
}

.splitpanes .splitpanes__splitter:before,
.splitpanes .splitpanes__splitter:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #00000026;
    transition: background-color .3s;
}

.splitpanes .splitpanes__splitter:hover:before,
.splitpanes .splitpanes__splitter:hover:after {
    background-color: #00000040;
}

.splitpanes .splitpanes__splitter:first-child {
    cursor: auto;
}

.splitpanes .splitpanes .splitpanes__splitter {
    z-index: 1;
}

.splitpanes--vertical>.splitpanes__splitter,
 .splitpanes--vertical>.splitpanes__splitter {
    width: 24px;
    border-left: 1px solid #eee;
    margin-left: -1px;
}

.splitpanes--vertical>.splitpanes__splitter:before,
.splitpanes--vertical>.splitpanes__splitter:after,
 .splitpanes--vertical>.splitpanes__splitter:before,
 .splitpanes--vertical>.splitpanes__splitter:after {
    transform: translateY(-50%);
    width: 1px;
    height: 30px;
}

.splitpanes--vertical>.splitpanes__splitter:before,
 .splitpanes--vertical>.splitpanes__splitter:before {
    margin-left: -2px;
}

.splitpanes--vertical>.splitpanes__splitter:after,
 .splitpanes--vertical>.splitpanes__splitter:after {
    margin-left: 1px;
}

.splitpanes--horizontal>.splitpanes__splitter,
 .splitpanes--horizontal>.splitpanes__splitter {
    height: 7px;
    border-top: 1px solid #eee;
    margin-top: -1px;
}

.splitpanes--horizontal>.splitpanes__splitter:before,
.splitpanes--horizontal>.splitpanes__splitter:after,
 .splitpanes--horizontal>.splitpanes__splitter:before,
 .splitpanes--horizontal>.splitpanes__splitter:after {
    transform: translate(-50%);
    width: 30px;
    height: 1px;
}

.splitpanes--horizontal>.splitpanes__splitter:before,
 .splitpanes--horizontal>.splitpanes__splitter:before {
    margin-top: -2px;
}

.splitpanes--horizontal>.splitpanes__splitter:after,
 .splitpanes--horizontal>.splitpanes__splitter:after {
    margin-top: 1px;
}
